{% block content %}
<div class="d-flex" style="height: 80vh;">
    <div class="d-flex justify-content-center" style="margin:auto;">
        <div class="main-img-div">
            <img src="https://bucketeer-76017907-f421-465f-9cc2-2a75b892868d.s3.amazonaws.com/media/images/cvki-image-main.jpg" class="main-img">
        </div>
        <div class="main-right">

            <h1 class="login-title" style="font-size: 2.2em; line-height: .9em;">Stwórz szybko profesjonalne CV</h1>
            <p class="login-description" style="line-height: 1.1em;">
                Na darmowym koncie przechowasz nieograniczoną ilość dokumentów.
                Układ dokumentu zmienisz przeciągając dane. <strong>Jednym kliknięciem: </strong>
                wybierzesz spośród wielu profesjonalnych szablonów,
                dodasz klauzulę RODO,
                zmienisz język swojego CV.
            </p>
            <p style="margin-top: 1.7em;"></p>
            <img src="https://bucketeer-76017907-f421-465f-9cc2-2a75b892868d.s3.amazonaws.com/media/images/main2.png" class="main-img2">

            <p style="margin-top: 2em;"></p>
            <a href="{% url 'register' %}" class="login-button main-register-button">Zrejestruj się</a>
        </div>
    </div>
</div>

{% endblock %}