{% extends 'cv/base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
  <div style="width: 860px;">

    <h3 class="text-center">Regulamin</h3>
    <h3>&nbsp;</h3>

    <h5 class="text-center font-weight-bold">§ 1</h5>
    <p class="text-center font-weight-bold">Postanowienia wstępne</p>
    <p class="mb-0">
      1. Serwis internetowy cvbox.pl, dostępny pod adresem internetowym cvbox.pl, prowadzony jest przez Maciej Długosz
      prowadzącego działalność gospodarczą pod firmą Mebit Maciej Długosz, wpisaną do Centralnej Ewidencji i Informacji
      o Działalności Gospodarczej (CEIDG) prowadzonej przez ministra właściwego ds. gospodarki, NIP 752 141 84 73,
      REGON 160 151 901
    </p>
    <p>
      2. Niniejszy regulamin skierowany jest do Konsumentów i określa zasady i tryb zawierania z Konsumentem Umowy
      Sprzedaży na odległość za pośrednictwem Serwisu.
    </p>

    <h5 class="text-center font-weight-bold">§ 2</h5>
    <p class="text-center font-weight-bold">Definicje</p>
    <p class="mb-0">
      1. Konsument - osoba fizyczna zawierająca ze Sprzedawcą umowę w ramach Serwisu, której przedmiot nie jest związany
      bezpośrednio z jej działalnością gospodarczą lub zawodową.
    </p>
    <p class="mb-0">
      2. Sprzedawca - osoba fizyczna prowadząca działalność gospodarczą pod firmą Mebit Maciej Długosz, wpisaną do
      Centralnej Ewidencji i Informacji o Działalności Gospodarczej (CEIDG) prowadzonej przez ministra właściwego ds.
      gospodarki, NIP 752 141 84 73, REGON 160 151 901
    </p>
    <p class="mb-0">3. Klient - każdy podmiot dokonujący zakupów za pośrednictwem Serwisu.</p>
    <p class="mb-0">
      4. Przedsiębiorca - osoba fizyczna, osoba prawna i jednostka organizacyjna niebędąca osobą prawną, której odrębna
      ustawa przyznaje zdolność prawną, wykonująca we własnym imieniu działalność gospodarczą, która korzysta z Serwisu.
    </p>
    <p class="mb-0">5. Serwis - serwis internetowy prowadzony przez Sprzedawcę pod adresem internetowym cvbox.pl.</p>
    <p class="mb-0">
      6. Umowa zawarta na odległość - umowa zawarta z Klientem w ramach zorganizowanego systemu zawierania umów na
      odległość (w ramach Serwisu), bez jednoczesnej fizycznej obecności stron, z wyłącznym wykorzystaniem jednego lub
      większej liczby środków porozumiewania się na odległość do chwili zawarcia umowy włącznie.
    </p>
    <p class="mb-0">7. Regulamin - niniejszy regulamin Serwisu.</p>
    <p class="mb-0">
      8. Zamówienie - oświadczenie woli Klienta składane za pomocą Formularza Zamówienia i zmierzające bezpośrednio do
      zawarcia Umowy Sprzedaży Produktu lub Produktów ze Sprzedawcą.
    </p>
    <p class="mb-0">
      9. Konto - konto klienta w Serwisie, są w nim gromadzone dane podane przez Klienta oraz informacje o złożonych
      przez niego Zamówieniach w Serwisie.
    </p>
    <p class="mb-0">10. Formularz rejestracji - formularz dostępny w Serwisie, umożliwiający utworzenie Konta.</p>
    <p class="mb-0">11. Formularz zamówienia - interaktywny formularz dostępny w Serwisie umożliwiający złożenie
      Zamówienia oraz określenie warunków Umowy Sprzedaży, w tym sposobu dostawy i płatności.
    </p>
    <p class="mb-0">12. Produkt - dostępna w Serwisie usługa będąca przedmiotem Umowy Sprzedaży między Klientem a Sprzedawcą.</p>
    <p>
      13. Umowa Sprzedaży - umowa sprzedaży Produktu zawierana albo zawarta między Klientem a Sprzedawcą za
      pośrednictwem Serwisu internetowego. Przez Umowę Sprzedaży rozumie się też - stosowanie do cech Produktu -
      umowę o świadczenie usług i umowę o dzieło.
    </p>

    <h5 class="text-center font-weight-bold">§ 3</h5>
    <p class="text-center font-weight-bold">Kontakt z Serwisem</p>
    <p class="mb-0">1. Adres Sprzedawcy: Mebit Maciej Długosz, Dalanów 4, 63-630 Rychtal.</p>
  <p class="mb-0">2. Adres e-mail Sprzedawcy: biurocvbox@gmail.com.</p>
    <p>3. Klient może porozumiewać się ze Sprzedawcą za pomocą środków podanych w niniejszym paragrafie.</p>

    <h5 class="text-center font-weight-bold">§ 4</h5>
    <p class="text-center font-weight-bold">Wymagania techniczne</p>
    <p class="mb-0">Do korzystania z zasobów Serwisu niezbędne są:</p>
    <p class="mb-0">a. urządzenie końcowe z dostępem do sieci Internet i przeglądarką internetową typu Chrome, Firefox lub Opera.,</p>
    <p class="mb-0">b. aktywne konto poczty elektronicznej (e-mail),</p>
    <p>c. włączona obsługa plików cookies,</p>

    <h5 class="text-center font-weight-bold">§ 5</h5>
    <p class="text-center font-weight-bold">Informacje ogólne</p>
    <p class="mb-0">
      1. Sprzedawca w najszerszym dopuszczalnym przez prawo zakresie nie ponosi odpowiedzialności za zakłócenia w tym
      przerwy w funkcjonowaniu Serwisu spowodowane siłą wyższą, niedozwolonym działaniem osób trzecich lub
      niekompatybilnością Serwisu internetowego z infrastrukturą techniczną Klienta.
    </p>
    <p class="mb-0">
      2. Składanie zamówień przez Klienta na Produkty znajdujące się w asortymencie Serwisu możliwe jest po założeniu
      Konta zgodnie z postanowieniami § 6 Regulaminu.
    </p>
    <p>3. Ceny podane w Serwisie są podane w polskich złotych i są cenami brutto (uwzględniają podatek VAT).</p>

    <h5 class="text-center font-weight-bold">§ 6</h5>
    <p class="text-center font-weight-bold">Zakładanie Konta w Serwisie</p>
    <p class="mb-0">1. Aby założyć Konto w Serwisie, należy wypełnić Formularz rejestracji.</p>
    <p class="mb-0">2. Założenie Konta w Serwisie jest darmowe.</p>
    <p class="mb-0">3. Logowanie się na Konto odbywa się poprzez podanie loginu i hasła ustanowionych w Formularzu rejestracji.</p>
    <p>
      4. Klient ma możliwość w każdej chwili, bez podania przyczyny i bez ponoszenia z tego tytułu jakichkolwiek opłat
      usunąć Konto poprzez wysłanie stosownego żądania do Sprzedawcy, w szczególności za pośrednictwem poczty
      elektronicznej lub pisemnie na adresy podane w § 3.
    </p>

    <h5 class="text-center font-weight-bold">§ 7</h5>
    <p class="text-center font-weight-bold">Zasady składania Zamówienia</p>
    <p class="mb-0">W celu złożenia Zamówienia należy:</p>
    <p class="mb-0">1. zalogować się do Serwisu;</p>
    <p class="mb-0">2. wybrać Produkt będący przedmiotem Zamówienia, a następnie kliknąć przycisk „Kup” (lub równoznaczny);</p>
    <p class="mb-0">
      3. kliknąć przycisk “Zamawiam i płacę”/kliknąć przycisk “Zamawiam i płacę” oraz potwierdzić zamówienie, klikając
      w link przesłany w wiadomości e-mail,
    </p>
    <p>
      4. wybrać jeden z dostępnych sposobów płatności i w zależności od sposobu płatności, opłacić zamówienie w
      określonym terminie, z zastrzeżeniem § 8 pkt 3.
    </p>

    <h5 class="text-center font-weight-bold">§ 8</h5>
    <p class="text-center font-weight-bold">Oferowane metody płatności</p>
    <p class="mb-0">1. Klient może skorzystać z następujących metod płatności:</p>
    <p class="mb-0">a. Płatność przelewem na konto Sprzedawcy</p>
    <p class="mb-0">b. Płatności elektroniczne</p>
    <p class="mb-0">c. Płatność kartą płatniczą.</p>
    <p>2. Rozliczenia transakcji kartą kredytową i eprzelewem przeprowadzane są za pośrednictwem Dotpay.pl</p>
    <p>3. Szczegółowe informacje na temat metod dostawy oraz akceptowalnych metod płatności znajdują się za stronach Serwisu.</p>

    <h5 class="text-center font-weight-bold">§ 9</h5>
    <p class="text-center font-weight-bold">Wykonanie umowy sprzedaży</p>
    <p class="mb-0">
      1. Zawarcie Umowy Sprzedaży między Klientem a Sprzedawcą następuje po uprzednim złożeniu przez
      Klienta Zamówienia za pomocą Formularza zamówienia w erwisie internetowym zgodnie z § 7 Regulaminu.
    </p>
    <p class="mb-0">
      2. Po złożeniu Zamówienia Sprzedawca niezwłocznie potwierdza jego otrzymanie oraz jednocześnie przyjmuje
      Zamówienie do realizacji. Potwierdzenie otrzymania Zamówienia i jego przyjęcie do realizacji następuje poprzez
      przesłanie przez Sprzedawcę Klientowi stosownej wiadomości e-mail na podany w trakcie składania Zamówienia adres
      poczty elektronicznej Klienta, która zawiera co najmniej oświadczenia Sprzedawcy o otrzymaniu Zamówienia i o
      jego przyjęciu do realizacji oraz potwierdzenie zawarcia Umowy Sprzedaży. Z chwilą otrzymania przez Klienta
      powyższej wiadomości e-mail zostaje zawarta Umowa Sprzedaży między Klientem a Sprzedawcą.
    </p>
    <p class="mb-0">
      3. W przypadku wyboru przez Klienta płatności przelewem, płatności elektronicznych albo płatności kartą
      płatniczą, Klient obowiązany jest do dokonania płatności w terminie 7 dni kalendarzowych od dnia zawarcia Umowy
      Sprzedaży - w przeciwnym razie zamówienie zostanie anulowane.
    </p>
    <p>4. Produkt jest dostępny dla Klienta od razu po opłaceniu usługi.</p>

    <h5 class="text-center font-weight-bold">§ 10</h5>
    <p class="text-center font-weight-bold">Prawo odstąpienia od umowy</p>
    <p class="mb-0">1. Konsument może w terminie 14 dni odstąpić od Umowy Sprzedaży bez podania jakiejkolwiek przyczyny.</p>
    <p class="mb-0">2. Bieg terminu określonego w ust. 1 rozpoczyna się od dostarczenia Produktu Konsumentowi lub wskazanej przez niego osobie innej niż przewoźnik.</p>
    <p class="mb-0">
      3. Konsument może odstąpić od Umowy, składając Sprzedawcy oświadczenie o odstąpieniu od Umowy. Do zachowania
      terminu odstąpienia od Umowy wystarczy wysłanie przez Konsumenta oświadczenia przed upływem tego terminu.
    </p>
    <p class="mb-0">5. Skutki odstąpienia od Umowy:</p>
    <p class="mb-0">a. W przypadku odstąpienia od Umowy zawartej na odległość Umowę uważa się za niezawartą.</p>
    <p class="mb-0">
      b. W przypadku odstąpienia od Umowy Sprzedawca zwraca Konsumentowi niezwłocznie, nie później niż w terminie 14
      dni od dnia otrzymania oświadczenia Konsumenta o odstąpieniu od Umowy, wszystkie dokonane przez niego płatności,
      w tym koszty dostarczenia rzeczy, z wyjątkiem dodatkowych kosztów wynikających z wybranego przez Konsumenta
      sposobu dostarczenia innego niż najtańszy zwykły sposób dostarczenia oferowany przez Sprzedawcę.
    </p>
    <p class="mb-0">
      c. Zwrotu płatności Sprzedawca dokona przy użyciu takich samych metod płatności, jakie zostały przez Konsumenta
      użyte w pierwotnej transakcji, chyba że Konsument wyraźnie zgodził się na inne rozwiązanie, które nie będzie
      się wiązało dla niego z żadnymi kosztami.
    </p>
    <p>
      d. Sprzedawca może wstrzymać się ze zwrotem płatności do czasu otrzymania Produktu z powrotem lub do czasu
      dostarczenia mu dowodu jego odesłania, w zależności od tego, które zdarzenie nastąpi wcześniej.
    </p>

    <h5 class="text-center font-weight-bold">§ 11</h5>
    <p class="text-center font-weight-bold">Reklamacja i gwarancja</p>
    <p class="mb-0">1. Umową Sprzedaży objęte są nowe Produkty.</p>
    <p class="mb-0">2. Sprzedawca jest obowiązany dostarczyć Klientowi rzecz wolną od wad.</p>
    <p class="mb-0">
      3. W przypadku wystąpienia wady zakupionego u Sprzedawcy towaru Klient ma prawo do reklamacji w oparciu o przepisy
      dotyczące rękojmi w kodeksie cywilnym. Jeżeli Klientem jest Przedsiębiorca, strony wyłączają odpowiedzialność z
      tytułu rękojmi.
    </p>
    <p class="mb-0">
      4. Reklamację należy zgłosić pisemnie lub drogą elektroniczną na podane w niniejszym Regulaminie adresy Sprzedawcy
      lub przy wykorzystaniu elektronicznego formularza reklamacyjnego, udostępnionego przez Sprzedawcę na jednej z
      podstron Sklepu.
    </p>
    <p class="mb-0">
      5. Zaleca się, aby w reklamacji zawrzeć m.in. zwięzły opis wady, okoliczności (w tym datę) jej wystąpienia, dane
      Klienta składającego reklamację, oraz żądanie Klienta w związku z wadą towaru.
    </p>
    <p class="mb-0">
      6. Sprzedawca ustosunkuje się do żądania reklamacyjnego niezwłocznie, a jeżeli Klientem jest Konsument - nie
      później niż w terminie 14 dni. Jeżeli Klientem jest Konsument, a Sprzedawca nie ustosunkuje się do żądania
      reklamacyjnego terminie 14 dni, uważa się, że żądanie Klienta uznał za uzasadnione
    </p>
    <p>7. W przypadku, gdy na Produkt została udzielona gwarancja, informacja o niej, a także jej treść, będą zawarte przy opisie Produktu w Sklepie.</p>

    <h5 class="text-center font-weight-bold">§ 12</h5>
    <p class="text-center font-weight-bold">Pozasądowe sposoby rozpatrywania reklamacji i dochodzenia roszczeń</p>
    <p class="mb-0">
      1. Szczegółowe informacje dotyczące możliwości skorzystania przez Konsumenta z pozasądowych sposobów rozpatrywania
      reklamacji i dochodzenia roszczeń oraz zasady dostępu do tych procedur dostępne są w siedzibach oraz na stronach
      internetowych powiatowych (miejskich) rzeczników konsumentów, organizacji społecznych, do których zadań statutowych
      należy ochrona konsumentów, Wojewódzkich Inspektoratów Inspekcji Handlowej oraz pod następującymi adresami
      internetowymi Urzędu Ochrony Konkurencji i Konsumentów:
    </p>
    <p class="mb-0">http://www.uokik.gov.pl/spory_konsumenckie.php;</p>
    <p class="mb-0">http://www.uokik.gov.pl/sprawy_indywidualne.php oraz</p>
    <p class="mb-0">http://www.uokik.gov.pl/wazne_adresy.php.</p>
    <p class="mb-0">
      2. Konsument posiada następujące przykładowe możliwości skorzystania z pozasądowych sposobów rozpatrywania
      reklamacji i dochodzenia roszczeń:
    </p>
    <p class="mb-0">
      a. Konsument uprawniony jest do zwrócenia się do stałego polubownego sądu konsumenckiego, o którym mowa w art.
      37 ustawy z dnia 15 grudnia 2000 r. o Inspekcji Handlowej (Dz.U. z 2014 r. poz. 148 z późn. zm.), z wnioskiem o
      rozstrzygnięcie sporu wynikłego z Umowy zawartej ze Sprzedawcą.
    </p>
    <p class="mb-0">
      b. Konsument uprawniony jest do zwrócenia się do wojewódzkiego inspektora Inspekcji Handlowej, zgodnie z art.
      36 ustawy z dnia 15 grudnia 2000 r. o Inspekcji Handlowej (Dz.U. z 2014 r. poz. 148 z późn. zm.), z wnioskiem
      o wszczęcie postępowania mediacyjnego w sprawie polubownego zakończenia sporu między Konsumentem a Sprzedawcą.
    </p>
    <p>
      c. Konsument może uzyskać bezpłatną pomoc w sprawie rozstrzygnięcia sporu między nim a Sprzedawcą, korzystając
      także z bezpłatnej pomocy powiatowego (miejskiego) rzecznika konsumentów lub organizacji społecznej, do której
      zadań statutowych należy ochrona konsumentów (m.in. Federacja Konsumentów, Stowarzyszenie Konsumentów Polskich).
    </p>

    <h5 class="text-center font-weight-bold">§ 13</h5>
    <p class="text-center font-weight-bold">Dane osobowe w Sklepie internetowym</p>
    <p class="mb-0">1. Administratorem danych osobowych Klientów zbieranych za pośrednictwem Sklepu internetowego jest Sprzedawca.</p>
    <p class="mb-0">
      2. Dane osobowe Klientów zbierane przez administratora za pośrednictwem Serwisu internetowego zbierane są w celu
      realizacji Umowy Sprzedaży, a jeżeli Klient wyrazi na to zgodę - także w celu marketingowym.
    </p>
    <p class="mb-0">3. Odbiorcami danych osobowych Klientów Sklepu internetowego mogą być:</p>
    <p class="mb-0">
      a. W przypadku Klienta, który korzysta w Sklepie internetowym ze sposobu dostawy przesyłką pocztową lub przesyłką
      kurierską, Administrator udostępnia zebrane dane osobowe Klienta wybranemu przewoźnikowi lub pośrednikowi
      realizującemu przesyłki na zlecenie Administratora.
    </p>
    <p class="mb-0">
      b. W przypadku Klienta, który korzysta w Sklepie internetowym ze sposobu płatności elektronicznych lub kartą
      płatniczą Administrator udostępnia zebrane dane osobowe Klienta, wybranemu podmiotowi obsługującemu powyższe
      płatności w Sklepie internetowym.
    </p>
    <p class="mb-0">4. Klient ma prawo dostępu do treści swoich danych oraz ich poprawiania.</p>
    <p>
      5. Podanie danych osobowych jest dobrowolne, aczkolwiek niepodanie wskazanych w Regulaminie danych osobowych
      niezbędnych do zawarcia Umowy Sprzedaży skutkuje brakiem możliwości zawarcia tejże umowy.
    </p>

    <h5 class="text-center font-weight-bold">§ 14</h5>
    <p class="text-center font-weight-bold">Postanowienia końcowe</p>
    <p class="mb-0">1. Umowy zawierane poprzez Serwis internetowy zawierane są w języku polskim.</p>
    <p class="mb-0">
      2. Sprzedawca zastrzega sobie prawo do dokonywania zmian Regulaminu z ważnych przyczyn to jest: zmiany przepisów
      prawa, zmiany sposobów płatności i dostaw - w zakresie, w jakim te zmiany wpływają na realizację postanowień
      niniejszego Regulaminu. O każdej zmianie Sprzedawca poinformuje Klienta z co najmniej 7 dniowym wyprzedzeniem.
    </p>
    <p class="mb-0">
      3. W sprawach nieuregulowanych w niniejszym Regulaminie mają zastosowanie powszechnie obowiązujące przepisy
      prawa polskiego, w szczególności: Kodeksu cywilnego; ustawy o świadczeniu usług drogą elektroniczną; ustawy o
      prawach konsumenta, ustawy oochronie danych osobowych.
    </p>
    <p>
      4. Klient ma prawo skorzystać z pozasądowych sposobów rozpatrywania reklamacji i dochodzenia roszczeń. W tym
      celu może złożyć skargę za pośrednictwem unijnej platformy internetowej ODR dostępnej pod adresem:
      http://ec.europa.eu/consumers/odr/.
    </p>

  </div>
</div>
{% endblock %}